<div id="side">
  <% cache @categories do %>
    <ul>
      <li><%= link_to_unless_current 'All', categories_path %></li>
      <%= render @categories %>
    </ul>
  <% end %>
</div>
<% cache @blogs do %>
  <ul id='blogs'>
    <%= render @blogs %>
  </ul>
<% end %>
